<nav class="navbar navbar-expand-lg navbar-dark navbar-gradient">
  <div class="container">
    <!-- Brand -->
    <a routerLink="/" class="navbar-brand d-flex align-items-center">
      <span class="material-symbols-rounded fs-2 me-2">globe_location_pin</span>
      <span class="fs-4">{{ title() }}</span>
    </a>

    <!-- Toggler móvil -->
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#mainNav"
            aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenido colapsable -->
    <div class="collapse navbar-collapse" id="mainNav">
      <!-- Links (izquierda) -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!-- Solo HOST -->
        @if (isLogged() && role()==='HOST') {
          <li class="nav-item">
            <a routerLink="/my-places" class="nav-link px-2 text-white">Gestión Alojamientos</a>
          </li>
          <li class="nav-item">
            <a routerLink="/host-dashboard" class="nav-link px-2 text-white">Panel anfitrión</a>
          </li>
        }

        <!-- Solo HUESPED (o no-host) -->
        @if (isLogged() && role()!=='HOST') {
          <li class="nav-item">
            <a routerLink="/my-bookings" class="nav-link">Mis reservas</a>
          </li>
        }

      </ul>

      <!-- Acciones (derecha) -->
      <div class="d-flex align-items-center gap-2 ms-auto">
        @if (!isLogged()) {
          <button routerLink="/login" class="btn btn-outline-light">Login</button>
          <button routerLink="/register" class="btn btn-light text-primary">Crear cuenta</button>
        } @else {
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown">
              <!-- etiqueta de cuenta: email/username + rol -->
              <span class="me-2">{{ email() || 'Mi cuenta' }}</span>
              <small class="badge bg-secondary text-uppercase">{{ role() }}</small>
            </button>

            <ul class="dropdown-menu dropdown-menu-end">
              <!-- Comunes a cualquier usuario logueado -->
              <li><a class="dropdown-item" routerLink="/profile">Mi perfil</a></li>

              <!-- Opciones HOST -->
              @if (role()==='HOST') {
                <li><a class="dropdown-item" routerLink="/my-places">Mis alojamientos</a></li>
                <li><a class="dropdown-item" routerLink="/host-dashboard">Panel anfitrión</a></li>
              }

              <!-- Opciones HUESPED (no-host) -->
              @if (role()!=='HOST') {
                <li><a class="dropdown-item" routerLink="/my-bookings">Mis reservas</a></li>
              }

              <li><hr class="dropdown-divider"></li>
              <li><button class="dropdown-item" (click)="logout()">Cerrar sesión</button></li>
            </ul>
          </div>
        }
      </div>
    </div>
  </div>
</nav>
