<div class="login-page">
  <div class="login-card">
    <h1 class="title">Iniciar sesión</h1>
    <p class="subtitle">Iniciar sesión para continuar</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate class="form">
      <!-- USUARIO -->
      <label for="email" class="field-label">USUARIO</label>
      <input
        id="email"
        type="email"
        class="form-control field-input "
        formControlName="email"
        placeholder="hola@sitioincreible.com.ar"
        autocomplete="username"
      />
      @if (f.email.touched && f.email.invalid) {
        <div class="field-error">
          @if (f.email.errors?.['required']) { <small>El email es obligatorio</small> }
          @if (f.email.errors?.['email'])    { <small>Email inválido</small> }
        </div>
      }

      <!-- CONTRASEÑA -->
      <label for="password" class="field-label">CONTRASEÑA</label>
      <input
        id="password"
        type="password"
        class="form-control field-input no-valid-icon"
        formControlName="password"
        placeholder="••••••••"
        autocomplete="current-password"
      />
      @if (f.password.touched && f.password.invalid) {
        <div class="field-error">
          @if (f.password.errors?.['required']) { <small>La contraseña es obligatoria</small> }
        </div>
      }

      @if (error) { <div class="error mt-1">{{ error }}</div> }

      <button
        type="submit"
        class="btn btn-primary btn-gradient mt-2"
        [disabled]="loginForm.invalid || loading"
      >
        @if (!loading) { <span>Ingresar</span> }
        @if (loading)  { <span>Ingresando…</span> }
      </button>
    </form>

    <p class="helper">
      ¿Olvidaste tu contraseña? Haz clic
      <a routerLink="/auth/forgot-password">aquí</a>
    </p>
  </div>
</div>
